#main
	position: relative
	height: 100vh
	+backgroundSize(cover)
	background-position: center
	background-repeat: no-repeat
	ul
		padding: 0
		margin: 0
		li
			display: inline-block
	> div
		width: 100%
		padding: 0 20px
		>div
			display: inline-block
	#banner-top
		position: relative
		padding-top: 20px
		color: $yellow
		#text-animation
			width: 50%
			font-size: 20px
			text-transform: uppercase
			letter-spacing: 1px
			line-height: 20px 
			word-spacing: 10000px
		#submit
			float: right
			img
				height: 120px
	#banner-middle
		position: absolute
		bottom: 30% 
		font-size: 16px
		text-transform: uppercase
		color: white
		#bwflogo
			float: right
			padding-right: 10vw
			img
				height: 120px
			span
				color: $blue
			div
				padding-left: 2vw
				word-spacing: 6px
	#banner-bottom
		position: absolute
		bottom: 0
		padding-bottom: 20px 
		color: $yellow
		font-size: 26px
		li
			padding: 0 10px
		#languages
			text-transform: uppercase
		#social
			float: right
			a
				color: $yellow 
		#footer
			width: 100%
			margin-top: 20px
			color: #BBB
			font-size: 16px
			text-align: center

@media(min-width: 768px)
	#main
		#banner-middle
			bottom: 26%
			font-size: 28px
			#bwflogo
				padding-right: 10vw
				img
					height: 200px
				div
					padding-left: 2vw
		#banner-top
			#text-animation
				font-size: 32px
				line-height: 36px 
			#submit
				img
					height: 160px
		#banner-bottom
			font-size: 46px
			li
				padding: 0 24px
			#footer
				font-size: 28px
				margin-top: 10px
@media(min-width: 992px)
	#main
		#banner-middle
			bottom: 28%
			font-size: 34px
			#bwflogo
				padding-right: 14vw
				img
					height: 260px
				div
					padding-left: 6vw
		#banner-top
			#text-animation
				font-size: 40px
				line-height: 46px 
			#submit
				img
					height: 240px
		#banner-bottom
			font-size: 52px
			li
				padding: 0 26px
			#footer
				font-size: 32px
				margin-top: 10px
@media(min-width: 1200px)
	#main
