#main
	position: relative
	height: 100vh
	+backgroundSize(cover)
	background-position: center
	background-repeat: no-repeat
	ul
		padding: 0
		margin: 0
		li
			display: inline-block
	> div
		width: 100%
		padding: 0 20px
		>div
			display: inline-block
	#banner-top
		position: relative
		padding-top: 20px
		color: $yellow
		#text-animation
			width: 50%
			font-size: 20px
			text-transform: uppercase
			letter-spacing: 1px
			line-height: 20px 
			word-spacing: 10000px
		#submit
			float: right
			img
				height: 120px
	#banner-middle
		position: inherit
		font-size: 16px
		text-transform: uppercase
		color: white
		#bwflogo
			float: right
			padding-top: 60%
			padding-right: 24px
			img
				height: 120px
			ul
				padding-left: 14px
				li
					display: inline-block
					padding: 2px 4px 0 4px
				#c-blue
					color: $blue
		span
			color: $blue
	#banner-bottom
		position: absolute
		bottom: 0
		padding-bottom: 20px 
		color: $yellow
		font-size: 26px
		li
			padding: 0 10px
		#languages
			text-transform: uppercase
		#social
			float: right
			a
				color: $yellow 
		#footer
			width: 100%
			margin-top: 20px
			color: #BBB
			font-size: 16px
			text-align: center
		